.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 200px;
  padding-left: 200px;

  background-color: black;
  color: black;
}

.App_Main {
  width: 100%;
  display: flex;
}

.Profile_Bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85vh;
  margin-right: 20px;
  padding: 20px 20px;
  background-color: darkgray;
}

.Route {
  width: 69%;
  padding: 20px 20px;
  background-color: darkgray;
}